<div class="contact-container"  id="contactSection">
    <div class="greet-container" #arrowTrigger3>
        <div class="greet">
            <h2 #contact>Say Hi!</h2>
        </div>
    </div>
    <div class="contact-main-container">
        <div class="contact-form">
            <h3>Want to discuss a new project?</h3>
            <p>Say hello! let's discuss your ideas and make it happen</p>
            <div class="input-container">

                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="befor-container" [ngClass]="{'input-focus input-name': nameFocus}">
                        <input #name="ngModel" [(ngModel)]="contactData['name']" class="name" type="text" name="name"
                            placeholder="Your name" (focus)='nameFocus = true' (focusout)='nameFocus = false'
                            minlength="4" required>
                        <div class="status-img-container">
                            <img *ngIf="name.invalid && (name.dirty || name.touched)"
                                src="./../../assets/img/contact/error.png">
                            <img *ngIf="name.valid" src="./../../assets/img/contact/ok.png">
                        </div>
                    </div>

                    <div class="error-message-container" [ngClass]="{'error-active': name.invalid &&
                            (name.dirty || name.touched)}">
                        <div class="error-message-active" *ngIf="name.invalid &&
                            (name.dirty || name.touched)">
                            Your name is required
                        </div>
                    </div>

                    <div class="befor-container" [ngClass]="{'input-focus input-email': emailFocus}">
                        <input #email="ngModel" [(ngModel)]="contactData['email']" class="email" type="email" name="email"
                            placeholder="Your email" (focus)='emailFocus = true' (focusout)='emailFocus = false'
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                        <div class="status-img-container">
                            <img *ngIf="email.invalid && (email.dirty || email.touched)"
                                src="./../../assets/img/contact/error.png">
                            <img *ngIf="email.valid" src="./../../assets/img/contact/ok.png">
                        </div>
                    </div>

                    <div class="error-message-container" [ngClass]="{'error-active':email.invalid &&
                            (email.dirty || email.touched)}">
                        <div class="error-message-active" *ngIf="email.invalid &&
                            (email.dirty || email.touched)">
                            Your email is required
                        </div>
                    </div>

                    <div class="befor-container" [ngClass]="{'input-focus input-message': messageFocus}">
                        <div class="pull-tab"></div>
                        <textarea #message="ngModel" [(ngModel)]="contactData['message']" class="message" type="text"
                            name="message" placeholder="Your message" (focus)='messageFocus = true'
                            (focusout)='messageFocus = false' minlength="10" required></textarea>
                        <div class="status-img-container">
                            <img *ngIf="message.invalid && (message.dirty || message.touched)"
                                src="./../../assets/img/contact/error.png">
                            <img *ngIf="message.valid" src="./../../assets/img/contact/ok.png">
                        </div>
                    </div>

                    <div class="error-message-container" [ngClass]="{'error-active': message.invalid &&
                                (message.dirty || message.touched)}">
                        <div class="error-message-active" *ngIf="message.invalid &&
                                (message.dirty || message.touched)">
                            Your message is empty
                        </div>
                    </div>

                    <div class="privacy-policy-box">
                        <div class="agree-hover" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
                            <label class="agree-box">
                                <input #privatePolicy="ngModel" type="checkbox" [(ngModel)]="privatPolicy"
                                    name="privatPolicy" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <p class="privacy-policy-text">I've read the
                            <a [ngClass]="{'hovered': isHovered}"  routerLink="/privacy-policy" routerLinkActive="active">privacy
                                policy</a>
                            and agree to the processing of my data as outlined.
                        </p>
                    </div>
                    
                    <div class="button-container">
                        <button [ngClass]="{'active': name.valid &&email.valid && message.valid && privatePolicy.valid}"
                            type="submit">Send Message</button>
                    </div>

                    <div class="arrow-up-container">
                        <div class="arrow-up" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseOut()" (click)="scrollToArea('headerUp')"
                            [routerLink]="['/']" fragment="headerUp">

                            <div class="line"
                                [ngClass]="{'hover-up-line': linkAnimationStates['arrowUp'].enter, 'reset-down-line': linkAnimationStates['arrowUp'].leave}">
                            </div>
                            <div class="line"
                                [ngClass]="{'hover-up-line-vertival': linkAnimationStates['arrowUp'].enter, 'reset-down-line-vertival': linkAnimationStates['arrowUp'].leave}">
                            </div>
                            <div class="line"
                                [ngClass]="{'hover-up-line-vertival': linkAnimationStates['arrowUp'].enter, 'reset-down-line-vertival': linkAnimationStates['arrowUp'].leave}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>