.project-base-touch {
    .pointer-base {
        height: 75px !important;
        width: 75px !important;
        opacity: 1 !important;
    }

    .image .preview-img,
    .image-reverse .preview-img {
        filter: grayscale(0) !important;
    }

    .image::before,
    .image-reverse::before {
        opacity: 1;
    }

    .description,
    .description-reverse {
        transform: translate(0%) !important;
    }
}

.pointer-touch {
    transform: translate(+50%, -50%) rotate(0deg) !important;
}

.pointer-reverse-touch {
    transform: translate(-50%, -50%) rotate(270deg) !important;
}