<div id="portfolio" class="portfolio-container">
    <div class="portfolio-header">
        <h2 #project>Portfolio</h2>
        <p #arrowTrigger2>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div class="portfolio-list">
        <div *ngFor="let item of items; let i = index" id="project{{ i + 1 }}"
            [class.project]="i % 2 === 0 "
            [class.project-reverse]="i % 2 === 1"
            [class.project-base-touch]="isTouchDevice && [project1Visible, project2Visible, project3Visible, project4Visible, project5Visible][i]">            
            <div id="countResponsiv" [class.count]="i % 2 === 0" [class.count-reverse]="i % 2 === 1">
                0{{ i + 1 }}/0{{ items.length }}
            </div>
            <a [class.image]="i % 2 === 0" [class.image-reverse]="i % 2 === 1" [href]="item.projectLink"
                target="_blank">
                <img #imageTrigger class="preview-img" [src]="item.image" alt="Bild {{ i + 1 }}">
                <img [class.pointer]="i % 2 === 0" [class.pointer-reverse]="i % 2 === 1"
                [class.pointer-touch]="isTouchDevice && [project1Visible, project2Visible, project3Visible, project4Visible, project5Visible][i] && i % 2 === 0"
                [class.pointer-reverse-touch]="isTouchDevice && [project1Visible, project2Visible, project3Visible, project4Visible, project5Visible][i] && i % 2 === 1"
                    src="assets/img/projects/pointer.png">
            </a>
            <div [class.text]="i % 2 === 0" [class.text-reverse]="i % 2 === 1">
                <div id="count" [class.count]="i % 2 === 0" [class.count-reverse]="i % 2 === 1">
                    0{{ i + 1 }}/0{{ items.length }}
                </div>
                <div [class.description]="i % 2 === 0" [class.description-reverse]="i % 2 === 1">
                    <h3>{{ item.name }}</h3>
                    <span>{{ item.techStack }}</span>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.gitLink }}" target="_blank" class="github-link">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="portfolio-list">
        <div *ngFor="let item of items; let i = index" id="project{{ i + 1 }}" [class.project]="i % 2 === 0 "
            [class.project-reverse]="i % 2 === 1" [appIntersectionObserver]="{ identifier: 'project' + (i + 1) }"
            (visibilityChanged)="onVisibilityChanged($event)">
            <div id="countResponsiv" [class.count]="i % 2 === 0" [class.count-reverse]="i % 2 === 1">
                0{{ i + 1 }}/0{{ items.length }}
            </div>
            <a [class.image]="i % 2 === 0" [class.image-reverse]="i % 2 === 1" [href]="item.projectLink"
                target="_blank">
                <img class="preview-img" [src]="item.image" alt="Bild {{ i + 1 }}">
                <img [class.pointer]="i % 2 === 0" [class.pointer-reverse]="i % 2 === 1"
                    src="./assets/img/portfolio-img/pointer.png" alt="">
            </a>
            <div [class.text]="i % 2 === 0" [class.text-reverse]="i % 2 === 1">
                <div id="count" [class.count]="i % 2 === 0" [class.count-reverse]="i % 2 === 1">
                    0{{ i + 1 }}/0{{ items.length }}
                </div>
                <div [class.description]="i % 2 === 0" [class.description-reverse]="i % 2 === 1">
                    <h3>{{ item.name }}</h3>
                    <span>{{ item.techStack }}</span>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.gitLink }}" target="_blank" class="github-link">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div> -->
</div>