<div class="about-me-container">
    <div id="aboutMe" class="introduction-container">
        <h2>{{ 'aboutMe.h2' | translate }}</h2>
        <div class="introduction-info">
            <div class="introduction-text">
                <div>
                    <span>
                        {{ 'aboutMe.description1' | translate }}
                        <br>
                        <br>
                        {{ 'aboutMe.description2' | translate }}
                        </span>
                </div>
                <div class="button-container" [routerLink]="['/']" fragment="contactSection">
                    <button>
                        {{ 'aboutMe.button' | translate }}
                    </button>
                </div>
            </div>

            <div class="about-img">
                <img src="assets/img/me.jpg">
            </div>

        </div>
    </div>
</div>