<div class="privacy-policy-container">
    <div class="privacy-policy">
        <h1> <strong>{{ 'privacyPolicy.h1' | translate }}</strong> </h1>
        <p>{{ 'privacyPolicy.introduction1' | translate }}</p>
        <p> {{ 'privacyPolicy.introduction2' | translate }}</p>
        <h2>{{ 'privacyPolicy.contact.h2' | translate }}</h2>
        <p>
        <p>{{ 'privacyPolicy.contact.contactDescription' | translate }}</p>
        <h2>{{ 'privacyPolicy.cookies.h2' | translate }}</h2>
        <p>{{ 'privacyPolicy.cookies.cookiesDescription' | translate }}</p>
        <h2>{{ 'privacyPolicy.serverLogFiles.h2' | translate }}</h2>
        <p>{{ 'privacyPolicy.serverLogFiles.LogFilesDescription' | translate }}</p>
        <ul>
            <li> IP-Adresse oder Hostname </li>
            <li> den verwendeten Browser </li>
            <li> Aufenthaltsdauer auf der Webseite sowie Datum und Uhrzeit </li>
            <li> aufgerufene Seiten der Webseite </li>
            <li> Spracheinstellungen und Betriebssystem </li>
            <li> „Leaving-Page“ (auf welcher URL hat der Benutzer die Webseite verlassen) </li>
            <li> ISP (Internet Service Provider) </li>
        </ul>
        <p> Diese erhobenen Informationen werden nicht personenbezogen verarbeitet oder mit personenbezogenen Daten in
            Verbindung gebracht. </p>
        <p> Der Webseitenbetreiber behält es sich vor, im Falle von Bekanntwerden rechtswidriger Tätigkeiten, diese
            Daten
            auszuwerten oder zu überprüfen. </p>
        <h2>Ihre Rechte als Betroffener</h2>
        <p>Sie als Betroffener haben bezüglich Ihrer Daten, welche bei uns gespeichert sind grundsätzlich ein Recht auf:
        </p>
        <ul>
            <li>Auskunft</li>
            <li>Löschung der Daten</li>
            <li>Berichtigung der Daten</li>
            <li>Übertragbarkeit der Daten</li>
            <li>Wiederruf und Widerspruch zur Datenverarbeitung</li>
            <li>Einschränkung</li>
        </ul>
        <p>Wenn sie vermuten, dass im Zuge der Verarbeitung Ihrer Daten Verstöße gegen das Datenschutzrecht passiert
            sind,
            so
            haben Sie die Möglichkeit sich bei uns (pesendorfer.gerald&#64;hotmail.com) oder der Datenschutzbehörde zu
            beschweren.
        </p>
        <h2>Sie erreichen uns unter folgenden Kontaktdaten:</h2>
        <p><b>Webseitenbetreiber: </b> <span class="no-wrap">Gerald Pesendorfer</span><br>
            <b>Telefonnummer: </b> <a href="tel:+436769740445"> +436769740445</a><br>
            <b>Email: </b><a href="mailto:pesendorfer.gerald@hotmail.com"> pesendorfer.gerald&#64;hotmail.com</a>
        </p>
    </div>
</div>