<div class="main-container" [ngClass]="{ 'adjusted-width': this.scrollbarService.scrollBarStatus }">
    <app-landin-page></app-landin-page>
    <app-about-me></app-about-me>
    
    <app-arrow [arrowTriggerSkill]="arrowVisibleSkill" position="right"></app-arrow>
    <app-my-skills (skillElement)="arrowVisibleSkill = $event"></app-my-skills>

    <app-arrow [arrowTriggerProject]="arrowVisibleProject" position="left"></app-arrow>
    <app-projects (projectElement)="arrowVisibleProject = $event"></app-projects>

    <app-arrow [arrowTriggerContact]="arrowVisibleContact" position="right"></app-arrow>
    <app-contact (contactElement)="arrowVisibleContact = $event"></app-contact>
</div>