<div class="impressum-container">
    <div class="impressum">
        <h1>{{ 'imprint.h1' | translate }}</h1>
        <p>{{ 'imprint.mainInfo.specification' | translate }}</p>
        <p><strong>{{ 'imprint.mainInfo.name' | translate }}</strong> Gerald Pesendorfer</p>
        <p><strong>{{ 'imprint.mainInfo.address' | translate }}</strong> Brunnengasse 3, <span class="no-wrap">2801
                Katzelsdorf</span></p>
        <p> <strong>{{ 'imprint.mainInfo.represented' | translate }}</strong>
            <span class="no-wrap">Gerald Pesendorfer</span><br>
        </p>
        <h2><strong>{{ 'imprint.contact.h2' | translate }}</strong> </h2>
        <p><strong>{{ 'imprint.contact.phone' | translate }}</strong> <a href="tel:+436769740445"> +436769740445</a></p>
        <p><strong>Email: </strong> <a href="mailto:pesendorfer.gerald@hotmail.com">
                pesendorfer.gerald&#64;hotmail.com</a>
        </p>
        <p><strong>{{ 'imprint.disclaimer.p1' | translate }}</strong><br><br>
            <strong>{{ 'imprint.disclaimer.p2' | translate }}</strong><br><br>
            {{ 'imprint.disclaimer.disclaimerDescription.p1' | translate }}<br>
            {{ 'imprint.disclaimer.disclaimerDescription.p2' | translate }}<br>
            {{ 'imprint.disclaimer.disclaimerDescription.p3' | translate }}<br>
        </p><br>
    </div>
</div>