<section>
    <div id="mySkills" class="skill-container">
        <div class="border">
            <div class="skill-text">
                <h2 #skill>{{ 'mySkills.h2' | translate }}</h2>
            </div>
            <div class="skill-icons"
                *ngFor="let skill of ['Angular', 'TypeScript', 'JavaScript', 'HTML', 'CSS', 'Firebase', 'Git', 'Scrum', 'Rest-Api', 'Material Design'] ">
                <img src="assets/img/my-skills/{{ skill }}.png">
                <p>{{ skill }}</p>
            </div>
        </div>
    </div>
</section>